.ability-button {
  color: #007bff;
  background-color: #fff;
  border: 1px solid #007bff;
}

.region-button {
  color: #fff;
  background-color: #fbd743;
  border-color: #fbd743;
}

.move-button {
  color: #fff;
  background-color: #ff1f1f;
  border-color: #ff1f1f;
}

.specie-button {
  color: #fff;
  background-color: #5db9ff;
  border-color: #5db9ff;
}

.type-button {
  color: #fff;
  background-color: #363b81;
  border-color: #363b81;
}

.version-group-button {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

@media screen and (max-width: 64em) {
  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    top: 0px;
  }
}

@media (max-width: 375px) {
  .th-header-text {
    font-size: 10px;
  }
}
