img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.table-header {
  display: flex;
  flex-direction: column;
  height: 15px;
  align-items: flex-end;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

@media screen and (max-width: 64em) {
  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    top: 0px;
  }
}
